*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.library{
    position:fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 50px rgb(204, 204, 204);
    overflow: scroll;
    h2{
       padding: 2rem;
    }
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
}
.library-song{
display: flex;
align-items: center;
padding: 1rem 2rem 1rem 2rem;
cursor: pointer;
img{
    width: 20%;
}
&:hover{
    background-color: rgb(222,222,255);
}
}

.song-description{
   padding-left: 1rem;
   h3{
    font-size: 1rem;
}
h4{
    font-size: 0.7rem;
}
}
*{
    scrollbar-width: thin;
    scrollbar-color: rgba(155,155,155,0.5) transparent;
}
.selected{
    background-color: violet;
    
}
.active-library{
    transform: translateX(0%);
    opacity: 1;
}
@media(max-width:768px){
  .library{
    width: 100%;
  }
}