.nav{
    display: flex;
     min-height: 10vh;
     justify-content: space-around;
     align-items: center;
     button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        border: 2px solid rgb(65,65,65);
        padding: 0.5rem;
        transition: all 0.3s ease;
        &:hover{
           color: #fff;
            background-color: rgb(65,65,65);
        }
    }
    h1{
        margin-left: 4rem;
    }
}
@media(max-width:768px){
    .nav{
        button{
            z-index: 10;
        }
    }
}